@media (max-width: 768px) {
    .logo {
        width: 80px;
    }

    .menu {
        gap: 15px;
        padding: 10px;
    }

    .tituloindex,
    .parrafoindex {
        font-size: 180%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .hero-contenido {
        padding: 25px;
        gap: 10px;
    }

    .indexheader {
        height: auto;
        min-height: 100vh;
    }

    .sobre-productos {
        padding: 25px;
    }

    .productos h2::before,
    .productos h2::after {
        width: 60px;
    }

    .articuloimg {
        width: 260px;
    }

    .contactos-footer {
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .contenedor-productos,
    .lista-productos {
        gap: 20px;
        justify-content: center;
    }

    .articuloimg,
    .producto-snack {
        width: 280px;
    }

    .navbar {
        padding: 20px;
    }

    .hero-contenido {
        padding: 30px;
    }
}